In [73]:
import findspark

In [74]:
findspark.init('C:\spark')

In [75]:
from pyspark.sql import SparkSession

In [76]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [77]:
dataset = spark.read.format("csv").option("header","true").load("statesPopulation.csv")

In [78]:
dataset.show()

+--------------------+----+----------+
|               State|Year|Population|
+--------------------+----+----------+
|             Alabama|2010|   4785492|
|              Alaska|2010|    714031|
|             Arizona|2010|   6408312|
|            Arkansas|2010|   2921995|
|          California|2010|  37332685|
|            Colorado|2010|   5048644|
|            Delaware|2010|    899816|
|District of Columbia|2010|    605183|
|             Florida|2010|  18849098|
|             Georgia|2010|   9713521|
|              Hawaii|2010|   1363945|
|               Idaho|2010|   1571010|
|            Illinois|2010|  12841578|
|             Indiana|2010|   6490528|
|                Iowa|2010|   3050738|
|              Kansas|2010|   2858850|
|            Kentucky|2010|   4348662|
|           Louisiana|2010|   4544996|
|               Maine|2010|   1327730|
|            Maryland|2010|   5788584|
+--------------------+----+----------+
only showing top 20 rows

In [79]:
dataset.schema

StructType(List(StructField(State,StringType,true),StructField(Year,StringType,true),StructField(Population,StringType,true)))

In [80]:
dataset.printSchema()

root
 |-- State: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Population: string (nullable = true)

In [81]:
from pyspark.sql.types import(StructField, StringType,
                                 FloatType,IntegerType)

In [82]:
data_schema=[StructField("State",StringType(),True),
            StructField("Year",StringType(),True),
            StructField("Population",FloatType(),True)]

In [83]:
final_struct = StructType(fields = data_schema)

In [84]:
dataset = spark.read.format("csv").option("header","true").schema(final_struct).load("statesPopulation.csv")

In [85]:
dataset.printSchema()

root
 |-- State: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Population: float (nullable = true)

In [86]:
dataset.show()

+--------------------+----+-----------+
|               State|Year| Population|
+--------------------+----+-----------+
|             Alabama|2010|  4785492.0|
|              Alaska|2010|   714031.0|
|             Arizona|2010|  6408312.0|
|            Arkansas|2010|  2921995.0|
|          California|2010|3.7332684E7|
|            Colorado|2010|  5048644.0|
|            Delaware|2010|   899816.0|
|District of Columbia|2010|   605183.0|
|             Florida|2010|1.8849098E7|
|             Georgia|2010|  9713521.0|
|              Hawaii|2010|  1363945.0|
|               Idaho|2010|  1571010.0|
|            Illinois|2010|1.2841578E7|
|             Indiana|2010|  6490528.0|
|                Iowa|2010|  3050738.0|
|              Kansas|2010|  2858850.0|
|            Kentucky|2010|  4348662.0|
|           Louisiana|2010|  4544996.0|
|               Maine|2010|  1327730.0|
|            Maryland|2010|  5788584.0|
+--------------------+----+-----------+
only showing top 20 rows

In [87]:
dataset.select("State").distinct().show()

+--------------------+
|               State|
+--------------------+
|                Utah|
|              Hawaii|
|           Minnesota|
|                Ohio|
|            Arkansas|
|              Oregon|
|               Texas|
|        North Dakota|
|        Pennsylvania|
|            Nebraska|
|             Vermont|
|              Nevada|
|          Washington|
|            Illinois|
|            Oklahoma|
|District of Columbia|
|            Delaware|
|              Alaska|
|          New Mexico|
|       West Virginia|
+--------------------+
only showing top 20 rows

In [88]:
dataset.createOrReplaceTempView("states")
dfstate = spark.sql("SELECT State,Sum(Population) FROM states GROUP BY State ORDER BY State asc")

In [89]:
dfstate.show()

+--------------------+---------------+
|               State|sum(Population)|
+--------------------+---------------+
|             Alabama|    3.3771238E7|
|              Alaska|      5121020.0|
|             Arizona|    4.6518355E7|
|            Arkansas|    2.0703849E7|
|          California|   2.68280584E8|
|            Colorado|    3.6963486E7|
|            Delaware|      6481217.0|
|District of Columbia|      4520704.0|
|             Florida|   1.37618322E8|
|             Georgia|    7.0021737E7|
|              Hawaii|      9810173.0|
|               Idaho|    1.1332575E7|
|            Illinois|    8.9960023E7|
|             Indiana|    4.5954907E7|
|                Iowa|    2.1648921E7|
|              Kansas|    2.0219806E7|
|            Kentucky|    3.0777934E7|
|           Louisiana|    3.2348737E7|
|               Maine|      9305583.0|
|            Maryland|    4.1431692E7|
+--------------------+---------------+
only showing top 20 rows

In [90]:
dataset.orderBy(dataset["Population"].desc()).select(["State", "Population","Year"]).show()

+----------+-----------+----+
|     State| Population|Year|
+----------+-----------+----+
|California|3.9250016E7|2016|
|California| 3.899394E7|2015|
|California|3.8680808E7|2014|
|California|3.8335204E7|2013|
|California|3.8011072E7|2012|
|California| 3.767686E7|2011|
|California|3.7332684E7|2010|
|     Texas|2.7862596E7|2016|
|     Texas| 2.742964E7|2015|
|     Texas|2.6944752E7|2014|
|     Texas|2.6473524E7|2013|
|     Texas|2.6071656E7|2012|
|     Texas|2.5646388E7|2011|
|     Texas| 2.524431E7|2010|
|   Florida| 2.061244E7|2016|
|   Florida|2.0244914E7|2015|
|   Florida| 1.988874E7|2014|
|  New York|1.9747184E7|2015|
|  New York|1.9745288E7|2016|
|  New York|1.9718516E7|2014|
+----------+-----------+----+
only showing top 20 rows

In [91]:
dataset.createOrReplaceTempView("table1")
df2 = spark.table("table1")
sorted(dataset.collect()) == sorted(df2.collect())

True

In [92]:
df2.show()

+--------------------+----+-----------+
|               State|Year| Population|
+--------------------+----+-----------+
|             Alabama|2010|  4785492.0|
|              Alaska|2010|   714031.0|
|             Arizona|2010|  6408312.0|
|            Arkansas|2010|  2921995.0|
|          California|2010|3.7332684E7|
|            Colorado|2010|  5048644.0|
|            Delaware|2010|   899816.0|
|District of Columbia|2010|   605183.0|
|             Florida|2010|1.8849098E7|
|             Georgia|2010|  9713521.0|
|              Hawaii|2010|  1363945.0|
|               Idaho|2010|  1571010.0|
|            Illinois|2010|1.2841578E7|
|             Indiana|2010|  6490528.0|
|                Iowa|2010|  3050738.0|
|              Kansas|2010|  2858850.0|
|            Kentucky|2010|  4348662.0|
|           Louisiana|2010|  4544996.0|
|               Maine|2010|  1327730.0|
|            Maryland|2010|  5788584.0|
+--------------------+----+-----------+
only showing top 20 rows

In [93]:
dataset.orderBy(dataset["State"].asc()).filter((dataset["Year"] ==2010) |
                                               (dataset['Year'] == 2014)).select(['State','Year','Population']).show()

+--------------------+----+-----------+
|               State|Year| Population|
+--------------------+----+-----------+
|             Alabama|2010|  4785492.0|
|             Alabama|2014|  4843214.0|
|              Alaska|2010|   714031.0|
|              Alaska|2014|   736705.0|
|             Arizona|2010|  6408312.0|
|             Arizona|2014|  6719993.0|
|            Arkansas|2010|  2921995.0|
|            Arkansas|2014|  2966912.0|
|          California|2010|3.7332684E7|
|          California|2014|3.8680808E7|
|            Colorado|2014|  5349648.0|
|            Colorado|2010|  5048644.0|
|            Delaware|2010|   899816.0|
|            Delaware|2014|   934948.0|
|District of Columbia|2010|   605183.0|
|District of Columbia|2014|   659005.0|
|             Florida|2014| 1.988874E7|
|             Florida|2010|1.8849098E7|
|             Georgia|2010|  9713521.0|
|             Georgia|2014|1.0087231E7|
+--------------------+----+-----------+
only showing top 20 rows

In [94]:
reshaped_df = dataset.orderBy(dataset["State"].asc()).groupby('State').pivot('Year').max('Population').fillna(0)

In [95]:
reshaped_df.show()

+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|               State|       2010|       2011|       2012|       2013|       2014|       2015|       2016|
+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|             Alabama|  4785492.0|  4779918.0|  4815960.0|  4829479.0|  4843214.0|  4853875.0|  4863300.0|
|              Alaska|   714031.0|   722713.0|   731089.0|   736879.0|   736705.0|   737709.0|   741894.0|
|             Arizona|  6408312.0|  6467163.0|  6549634.0|  6624617.0|  6719993.0|  6817565.0|  6931071.0|
|            Arkansas|  2921995.0|  2939493.0|  2950685.0|  2958663.0|  2966912.0|  2977853.0|  2988248.0|
|          California|3.7332684E7| 3.767686E7|3.8011072E7|3.8335204E7|3.8680808E7| 3.899394E7|3.9250016E7|
|            Colorado|  5048644.0|  5118360.0|  5189867.0|  5267603.0|  5349648.0|  5448819.0|  5540545.0|
|            Delaware|   899816.0|   907924.0|   916993.0|   925395.0|   934948.0|   944076.0|   952065.0|
|District of Columbia|   605183.0|   620477.0|   635327.0|   649165.0|   659005.0|   670377.0|   681170.0|
|             Florida|1.8849098E7|1.9096952E7|1.9344156E7|1.9582022E7| 1.988874E7|2.0244914E7| 2.061244E7|
|             Georgia|  9713521.0|  9811610.0|  9914668.0|  9984938.0|1.0087231E7|1.0199398E7|1.0310371E7|
|              Hawaii|  1363945.0|  1377864.0|  1391820.0|  1406481.0|  1416349.0|  1425157.0|  1428557.0|
|               Idaho|  1571010.0|  1584143.0|  1595911.0|  1612011.0|  1633532.0|  1652828.0|  1683140.0|
|            Illinois|1.2841578E7|1.2860012E7|1.2870798E7|1.2879505E7|1.2867544E7|1.2839047E7|1.2801539E7|
|             Indiana|  6490528.0|  6516480.0|  6537743.0|  6569102.0|  6595233.0|  6612768.0|  6633053.0|
|                Iowa|  3050738.0|  3065223.0|  3076310.0|  3091930.0|  3108030.0|  3121997.0|  3134693.0|
|              Kansas|  2858850.0|  2869503.0|  2885262.0|  2892821.0|  2899360.0|  2906721.0|  2907289.0|
|            Kentucky|  4348662.0|  4369354.0|  4384799.0|  4400477.0|  4413057.0|  4424611.0|  4436974.0|
|           Louisiana|  4544996.0|  4575404.0|  4603429.0|  4626402.0|  4647880.0|  4668960.0|  4681666.0|
|               Maine|  1327730.0|  1328231.0|  1328895.0|  1329076.0|  1330719.0|  1329453.0|  1331479.0|
|            Maryland|  5788584.0|  5843603.0|  5889651.0|  5931129.0|  5967295.0|  5994983.0|  6016447.0|
+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
only showing top 20 rows

In [96]:
sdf = reshaped_df.withColumn('Ratio', reshaped_df["2014"]-reshaped_df["2010"])

In [97]:
sdf.show()
sdf.printSchema

+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+---------+
|               State|       2010|       2011|       2012|       2013|       2014|       2015|       2016|    Ratio|
+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+---------+
|             Alabama|  4785492.0|  4779918.0|  4815960.0|  4829479.0|  4843214.0|  4853875.0|  4863300.0|  57722.0|
|              Alaska|   714031.0|   722713.0|   731089.0|   736879.0|   736705.0|   737709.0|   741894.0|  22674.0|
|             Arizona|  6408312.0|  6467163.0|  6549634.0|  6624617.0|  6719993.0|  6817565.0|  6931071.0| 311681.0|
|            Arkansas|  2921995.0|  2939493.0|  2950685.0|  2958663.0|  2966912.0|  2977853.0|  2988248.0|  44917.0|
|          California|3.7332684E7| 3.767686E7|3.8011072E7|3.8335204E7|3.8680808E7| 3.899394E7|3.9250016E7|1348124.0|
|            Colorado|  5048644.0|  5118360.0|  5189867.0|  5267603.0|  5349648.0|  5448819.0|  5540545.0| 301004.0|
|            Delaware|   899816.0|   907924.0|   916993.0|   925395.0|   934948.0|   944076.0|   952065.0|  35132.0|
|District of Columbia|   605183.0|   620477.0|   635327.0|   649165.0|   659005.0|   670377.0|   681170.0|  53822.0|
|             Florida|1.8849098E7|1.9096952E7|1.9344156E7|1.9582022E7| 1.988874E7|2.0244914E7| 2.061244E7|1039642.0|
|             Georgia|  9713521.0|  9811610.0|  9914668.0|  9984938.0|1.0087231E7|1.0199398E7|1.0310371E7| 373710.0|
|              Hawaii|  1363945.0|  1377864.0|  1391820.0|  1406481.0|  1416349.0|  1425157.0|  1428557.0|  52404.0|
|               Idaho|  1571010.0|  1584143.0|  1595911.0|  1612011.0|  1633532.0|  1652828.0|  1683140.0|  62522.0|
|            Illinois|1.2841578E7|1.2860012E7|1.2870798E7|1.2879505E7|1.2867544E7|1.2839047E7|1.2801539E7|  25966.0|
|             Indiana|  6490528.0|  6516480.0|  6537743.0|  6569102.0|  6595233.0|  6612768.0|  6633053.0| 104705.0|
|                Iowa|  3050738.0|  3065223.0|  3076310.0|  3091930.0|  3108030.0|  3121997.0|  3134693.0|  57292.0|
|              Kansas|  2858850.0|  2869503.0|  2885262.0|  2892821.0|  2899360.0|  2906721.0|  2907289.0|  40510.0|
|            Kentucky|  4348662.0|  4369354.0|  4384799.0|  4400477.0|  4413057.0|  4424611.0|  4436974.0|  64395.0|
|           Louisiana|  4544996.0|  4575404.0|  4603429.0|  4626402.0|  4647880.0|  4668960.0|  4681666.0| 102884.0|
|               Maine|  1327730.0|  1328231.0|  1328895.0|  1329076.0|  1330719.0|  1329453.0|  1331479.0|   2989.0|
|            Maryland|  5788584.0|  5843603.0|  5889651.0|  5931129.0|  5967295.0|  5994983.0|  6016447.0| 178711.0|
+--------------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+---------+
only showing top 20 rows

In [98]:
s.orderBy(s["Ratio"].desc()).select(["State", "Ratio"]).show()

+--------------+---------+
|         State|    Ratio|
+--------------+---------+
|         Texas|1700442.0|
|    California|1348124.0|
|       Florida|1039642.0|
|North Carolina| 375484.0|
|       Georgia| 373710.0|
|      New York| 315876.0|
|       Arizona| 311681.0|
|    Washington| 310970.0|
|      Colorado| 301004.0|
|      Virginia| 291599.0|
|South Carolina| 192487.0|
|     Tennessee| 187992.0|
| Massachusetts| 184387.0|
|      Maryland| 178711.0|
|          Utah| 166510.0|
|     Minnesota| 141962.0|
|        Oregon| 130323.0|
|        Nevada| 129729.0|
|    New Jersey| 121272.0|
|      Oklahoma| 117896.0|
+--------------+---------+
only showing top 20 rows